In [1]:
# read all dataset from csv

import pandas as pd

df = pd.read_csv('Downloads\input.csv')
print(df)

                              Date Unnamed: 1 Unnamed: 2
0                 Overall Accounts        NaN        NaN
1                            Model     Target      Sales
2                A.M. Maus and Son  $1,070.00     3235.8
3          Acura of Baton Rouge_AC  $1,000.00     7900.8
4           Alfa Romeo Of Glendale  $3,111.64     7896.3
..                             ...        ...        ...
132                Woodfield Lexus  $2,800.00    21851.8
133   York Chrysler Dodge Jeep Ram  $1,540.00     7374.9
134    Zeigler Chrysler Dodge Jeep    $770.00    65564.0
135       getBMWparts.com (Banner)    $800.00     2281.2
136  All American Ford of Kingston    $870.00     9586.3

[137 rows x 3 columns]

In [20]:
#function to read csv data

def readcsv(val1):
    df1 = pd.read_csv('Downloads\input.csv',skiprows =2)
    df1 = df1[df1['Model'].str.contains(val1)]
    print(df1)
    
readcsv('Audi')

            Model     Target    Sales
11  Audi Columbus    $650.00   8252.4
63     Keyes Audi  $1,260.00  13935.0

In [2]:
#function to read csv data with multiple input

def readcsv(*val1):
    df1 = pd.read_csv('Downloads\input.csv',skiprows =2)
    for i in val1:
        df2 = df1[df1['Model'].str.contains(i)]
        print(df2)
    

myval = ['BMW','Ford','Hyundai']

readcsv(*myval)

#but the problem here is getting aligment error

                        Model     Target    Sales
12            BMW of El Cajon    $420.00  20073.2
97         Nick Alexander BMW  $1,200.00  13458.0
133  getBMWparts.com (Banner)    $800.00   2281.2
                                   Model     Target    Sales
3        All American Ford of Hackensack  $2,610.00  21891.9
4          All American Ford of Kingston    $870.00   9586.3
5        All American Ford of Old Bridge  $3,480.00  20209.8
6           All American Ford of Paramus  $1,740.00  18826.4
7    All American Ford of Point Pleasant  $2,175.00  11585.2
10            Anderson's Rock River Ford    $562.50   3914.3
14           Bill Alexander Ford Lincoln    $375.00   6390.8
28                       Elkins Fordland    $750.00   5070.9
31                         Fairlane Ford  $1,125.00      0.0
53                    Hixson Ford Monroe    $720.00   9394.4
76                         Loveland Ford  $1,530.00  25956.4
116                         Skalnek Ford    $750.00   8026.5
121                        Tom Wood Ford  $1,200.00  12359.8
134        All American Ford of Kingston    $870.00   9586.3
                               Model     Target    Sales
35                     Keyes Hyundai    $830.00   8342.5
66                     Keyes Hyundai    $830.00   8342.5
73   Lester Glenn Hyundai Toms River    $410.00   1193.5
89                MotorWorld Hyundai    $800.00   6160.4
100      O'Brien Ft. Myers - Hyundai  $1,600.00  32288.3
117                    Sport Hyundai    $750.00  10661.3

In [90]:
df = pd.read_csv('Downloads\input.csv',skiprows = 2)
# df = df[df['Model'].str.contains('BMW')]
df.drop_duplicates(subset = 'Model',keep = False, inplace = True) # remove duplicates
df1=df.replace('\$','',regex=True) #cleanup
df1=df1.replace('\,','',regex=True) #cleanup
df1['Target'] = df1['Target'].astype(float) # convert string to numeric
df1['Sales']=df1['Sales'].div(10) # Divide sales by 10
df1.sort_values(by=['Model'],ascending=True) # Sort by column Model
df1['Status'] = ['Alert' if a < 1000 else 'Ideal' for a in df1['Target']] # new column created with data based on Target column

print(df1)

                               Model   Target    Sales Status
0                  A.M. Maus and Son  1070.00   323.58  Ideal
1            Acura of Baton Rouge_AC  1000.00   790.08  Ideal
2             Alfa Romeo Of Glendale  3111.64   789.63  Ideal
3    All American Ford of Hackensack  2610.00  2189.19  Ideal
5    All American Ford of Old Bridge  3480.00  2020.98  Ideal
..                               ...      ...      ...    ...
129                     Witt Lincoln  1350.00   378.92  Ideal
130                  Woodfield Lexus  2800.00  2185.18  Ideal
131     York Chrysler Dodge Jeep Ram  1540.00   737.49  Ideal
132      Zeigler Chrysler Dodge Jeep   770.00  6556.40  Alert
133         getBMWparts.com (Banner)   800.00   228.12  Alert

[131 rows x 4 columns]